<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <th rowspan="2"><!--Name--></th>
        <th>Last week</th>
        <th>Previous week</th>
        <th>Quarterly average</th>
      </tr>
      <tr>
        <th>(<%= format_date(weeks_ago(1)) %> – <%= format_date(beginning_of_week) %>)</th>
        <th>(<%= format_date(weeks_ago(2)) %> – <%= format_date(weeks_ago(1)) %>)</th>
        <th>(<%= format_date(weeks_ago(13)) %> – <%= format_date(beginning_of_week) %>)</th>
      </tr>
      <% @metrics.each do |metric| %>
        <tr>
          <th rowspan="2"><%= metric.title %></th>
          <td><%= metric.last_week %></td>
          <td><%= fraction(metric.last_week, metric.weeks_ago(2)) %></td>
          <td><%= fraction(metric.last_week, metric.week_average_this_quarter) %></td>
        </tr>
        <tr>
          <td><%= metric.total %> (total)</td>
          <td><%= metric.weeks_ago(2) %></td>
          <td><%= metric.week_average_this_quarter.round %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
