<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <% @report.sections.each do |section| %>
        <tr>
          <th class="section-heading" colspan="4"><%= section.title %></th>
        </tr>
        <% if section.is_a?(Tricle::List) %>
          <%= list_markup(section) %>
        <% else %>
          <tr>
            <th><!--Title--></th>
            <th>
              <div><%= old_dates_cell_header %></div>
              <%= old_dates_cell %>
            </th>
            <th>
              <div><%= previous_dates_cell_header %></div>
              <%= previous_dates_cell %>
            </th>
            <th>
              <div><%= current_dates_cell_header %></div>
              <%= current_dates_cell %>
            </th>
          </tr>
          <% section.metrics.each do |metric| %>
            <tr>
              <th class="metric-title" rowspan="2"><%= metric.title %></th>
              <%= old_data_cell(metric) %>
              <%= previous_data_cell(metric) %>
              <td>
                <div><%= current_number(metric) %></div>
                <% if metric.total? %>
                  <div><%= format_number(metric.total) %> (total)</div>
                <% end %>
              </td>
            </tr>
            <% if metric.sparkline? %>
              <tr>
                <td colspan="3">
                  <%= sparkline(metric) %>
                </td>
              </tr>
            <% end %>
            <tr class="separator"></tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </body>
</html>
