<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <% @report.sections.each do |section| %>
        <tr>
          <th class="section-heading" colspan="4"><%= section.title %></th>
        </tr>
        <% if section.is_a?(Tricle::List) %>
          <%= list_markup(section) %>
        <% else %>
          <tr>
            <th><!--Title--></th>
            <th>
              <div>Last week</div>
              <%= last_week_dates_cell %>
            </th>
            <th>
              <div>Previous week</div>
              <%= previous_week_dates_cell %>
            </th>
            <th>
              <div>Quarterly average</div>
              <%= quarter_dates_cell %>
            </th>
          </tr>
          <% section.metric_presenters.each do |metric| %>
            <tr>
              <th class="metric-title"><%= metric.title %></th>
              <td>
                <div><%= format_number(metric.last_week) %></div>
                <div><%= format_number(metric.total) %> (total)</div>
              </td>
              <%= percent_change_cell(metric.last_week, metric.weeks_ago(2), metric.better) %>
              <%= percent_change_cell(metric.last_week, metric.week_average_this_quarter, metric.better) %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </body>
</html>
