<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table>
      <tr>
        <th rowspan="2"><!--Name--></th>
        <th>Last week (<%= format_date(beginning_of_week.prev_week) %> – <%= format_date(beginning_of_week) %>)</th>
      </tr>
      <tr>
        <th>Total</th>
      </tr>
      <% @metrics.each do |metric| %>
        <tr>
          <th rowspan="2"><%= metric.title %></th>
          <td><%= metric.last_week %></td>
        </tr>
        <tr>
          <td><%= metric.total %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
